{% extends 'layout.html' %}
{% block content %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates laborum libero dolore enim quasi quo molestias repellat recusandae voluptate qui! Nemo placeat esse qui in assumenda quaerat ipsam sequi repudiandae!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, possimus pariatur! Repellendus qui facere officia nulla incidunt veritatis facilis. Sequi quas accusantium harum voluptatum impedit labore laborum esse? Molestiae, autem?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo labore esse facere accusantium perspiciatis voluptas accusamus perferendis enim magni voluptate molestias eligendi distinctio iure, placeat velit corporis eveniet voluptates non.
{% endblock %}
