{% extends 'layout.html' %}
{% block content %}
    <div class="banner">
        <h1 class="main">DevClub</h1>
        <h3 class="tagline">Learning to Innovate</h3>
    </div>
    <div class="langs">
        Our Team Can work with following languages but we are not limited. The list is always expanding.
       <ul>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
 </ul>
    </div>
    <div class="projects">
        We have done many projects. Most of them are listed below.
    </div>
{% endblock %}
