.banner {
    visibility: hidden;
    min-height: 100vh;
    padding-top: 4em;
    padding-left: 2em;
    
    .main {
        font-size: 5em;
    }
    
    .tagline {
        font-size: 130%;
        font-style: oblique;
        padding-left: 3em;
        display: block;
        height: 3em;
    }
}
