* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #1144aa;
}

nav .logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  font-size: 1.3em;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

nav .hamburger {
  display: none;
}

@media screen and (max-width: 1024px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav ul {
    position: absolute;
    right: 0px;
    width: 80%;
    top: 8vh;
    height: 92vh;
    background-color: #1144aa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  nav ul li {
    opacity: 0;
  }
  nav .logo {
    font-size: 2em;
  }
  nav .hamburger {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 1.5em;
  }
  nav .hamburger .line-1,
  nav .hamburger .line-2,
  nav .hamburger .line-3 {
    height: 3px;
    width: 2em;
    background-color: #111;
  }
  nav .hamburger .line-2 {
    width: 1.3em;
  }
}

.banner {
  visibility: hidden;
  min-height: 100vh;
  padding-top: 4em;
  padding-left: 2em;
}

.banner .main {
  font-size: 5em;
}

.banner .tagline {
  font-size: 130%;
  font-style: oblique;
  padding-left: 3em;
  display: block;
  height: 3em;
}
