* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1144aa;
  .logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3em;
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 1.3em;
    list-style: none;
    li a {
      text-decoration: none;
      color: whitesmoke;
    }
  }
  .hamburger {
    display: none;
  }
}
@media (max-width: 1024px) {
  nav {
    ul {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: visible;
    background-color:#666;
  }
  nav {
      max-width: 100vw;
    ul {
      position: absolute;
      right: 0px;
      width: 80%;
      top: 8vh;
      height: 92vh;
      background-color: #1144aa;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
    }
    .logo {
      font-size: 2em;
    }
    .hamburger {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 1.5em;
      .line-1,
      .line-2,
      .line-3 {
        height: 3px;
        width: 2em;
        background-color: #111;
      }
      .line-2 {
        width:1.3em;
      }
    }
  }
} */
/*

<nav>
    <span class="logo">DevClub</span>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Discussions</a></li>
        <li><a href="#">Blog</a></li>
    </ul>
    <div class="hamburger">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
    </div>
</nav>
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

nav {
  padding-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 8vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: wheat;
}

nav .logo {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

nav ul {
  display: none;
  list-style-type: none;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80%;
}

nav ul li a {
  font-size: 2em;
  text-decoration: none;
  color: black;
}

nav .hamburger {
  display: none;
  height: 1.5em;
  width: 2.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .hamburger .line-1, nav .hamburger .line-2, nav .hamburger .line-3 {
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
  background-color: black;
  height: 0.1em;
  width: 2.5em;
}

nav .hamburger .line-2 {
  width: 2em;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav .logo {
    font-size: 2em;
  }
  nav ul {
    position: fixed;
    right: 0px;
    height: 90vh;
    top: 8vh;
    width: 80%;
    background-color: #2277ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav ul li {
    opacity: 0;
  }
  nav ul li a {
    color: black;
  }
  nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav-action {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

.banner {
  visibility: hidden;
  min-height: 100vh;
  padding-top: 4em;
  padding-left: 2em;
}

.banner .main {
  font-size: 5em;
}

.banner .tagline {
  font-size: 130%;
  font-style: oblique;
  padding-left: 3em;
  display: block;
  height: 3em;
}
